a.AppButton:hover,
a.AppButton:visited,
a.AppButton:active,
a.AppButton:link {
  color: #379962;
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1d4c35;
  margin: 1em 0;
  padding: 0;
}

.color-alert {
  color: #b82a2a;
}


.App {
  background: #1b1b1b;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  min-height: 100vh;
  z-index: 10;
  color: #379962;
  padding: 0 10px 0 10px;
  user-select: auto;
}

.closed {
  height: 0;
  min-height: 0;
}

.ui-content {
  margin-top: 60px;
  overflow: auto;
  height: calc(100vh - 100px);
}

.content-tab {
  margin-top: 15px;
}


.content-stroke {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contrnt-right {
  display: flex;
  justify-content: end;
}
