

.main-panel-right {
  position: absolute;
  top: 0;
  right: 0;
  /*width: 300px;*/
  height: 100vh;
  min-height: 100vh;
  z-index: 10;
  color: #379962;
  padding: 0 10px 0 10px;
  user-select: auto;
  overflow: auto;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1d4c35;
  margin: 1px 5px;
  padding: 0;
}

.ui-content {
  color: #1c9358;
  margin-top: 2px;
  overflow: auto;
  height: 95vh;
  padding-left: 10px;
  padding-right: 10px;
}

.inline {
  display: inline-block;
}

.content-tab {
  margin-bottom: 15px;
}

.offset-top {
    margin-top: 15px;
}

.offset-bottom {
  margin-bottom: 15px;
}

.content-stroke {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contrnt-right {
  display: flex;
  justify-content: end;
  align-items: end;
}

.content-column {
  display: flex;
  flex-direction: column;
}

.bg-green {
  padding: 5px;
  background-color: rgba(50, 92, 59, 0.22);
  border-radius: 3px;
}

.height-min-30 {
  min-height: 30px;
}

.w-15 {
  min-width: 15px;
}

.w-200 {
  min-width: 200px;
  margin: 0 0 0 auto;
}

.w-250 {
  max-width: 250px;
  margin: 0 0 0 auto;
}

.w-long {
  flex: 1 0 auto;
  margin: 0 0 0 0;
}

.w-min-200 {
  min-width: 200px;
}

.m-r-5 {
  margin-right: 5px;
}



.main-panel-left {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

.choose-item-sector {
  display: flex;
  flex-direction: row;
}

/** SCROLL BAR *********************/

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #CA14291F;
  border-radius: 10px;
  background-color: #CA14291F;
}

div::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(20, 41, 31, 0.795);
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #327956;
  background-color: #165027;
}
