a.AppButton:hover,
a.AppButton:visited,
a.AppButton:active,
a.AppButton:link,
button,
a.AppButton,
.AppButton {
    text-decoration: none;
    color: #379962;
    display: inline-block;
    padding: 2px 5px;
    min-width: 40px;
    border: 1px solid #1d4c35;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px 0 0;
    background-color: rgba(20, 41, 31, 0.795);
}

.AppButton.long {
    display: block;
}

.AppButton.current {
    background-color: #327956;
    color: #f3ecaf;
}

.AppButton:hover {
    color: #9a9875;
    background: #153426;
}

.closeOpenApp {
    position: absolute;
    top: 10px;
    right: 10px;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}