a.AppButton:hover,
a.AppButton:visited,
a.AppButton:active,
a.AppButton:link,
button,
a.AppButton,
.AppButton {
    text-decoration: none;
    color: #379962;
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #1d4c35;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    background-color: rgba(20, 41, 31, 0.79);
}

.AppButton.long {
    display: block;
}

.AppButton.current {
    background: #327956;
    color: #f3ecaf;
}

.AppButton:hover {
    background: #153426;
    color: #9a9875;
}

.AppButton.current:hover {
    background: #1c9358;
    color: #f3ecaf;
}


.AppButton.color-alert {
    background-color: #4b0101;
    color: #a1987b;
    border: 1px solid #a1987b;
}


.closeOpenApp {
    position: absolute;
    top: 10px;
    right: 10px;
}

.row-space-between {
    display: flex;
    justify-content: space-between;
}