.container-zoom-scroll {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 50vw;
    border-left: #1d4c35 1px solid;
    border-right: #1d4c35 1px solid;
    border-bottom: #1d4c35 1px solid;
    border-radius: 50px;
    width: auto;
    transform: translate(-50%, 0);
    text-align: center;
    color: #1c9358;
    padding: 0 8px 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-zoom-scroll > span,
.container-zoom-scroll > div {
    margin: 0 5px;
}

.path-value {
    position: absolute;
    top: 30px;
}
.path-item {
    user-select: all;
}