.debug-container {
    font-family: 'Verdana, Geneva, sans-serif';
    position: absolute;
    z-index: 999999999999999999999999;
    top: 30px;
    left: 100vw;
    transform: translate(-100px, 0);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
}

.debug-container.opened {
    left: 25vw;
}

.debug {
    background: #111111;
    border: 1px solid #666666;
    padding: 2px;
    color: white;
}

.toggleButton {
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    flex: 0 1 30px;
    margin-top: 20vh;
}

.debugData {
    width: 70vw;
    max-width: 70vw;
    height: 80vh;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 3px;
}


.info {
    padding: 5px;
    border-bottom: 1px solid #666666;
    font-size: 16px;
}