/**
 * Created by Vasilii on 13.07.2020.
 */

.mess-low-balance {
    margin: 0 auto;
    border: 1px solid #cccccc;
    background: #00000099;
    color: white;
    position: absolute;
    font-family: inherit;
    text-align: center;
    font-size: 1.3rem;
    z-index: 1001;
    width: 80vw;
    left: 10vw;
    top: 18vw;
}

.but-mess {
    background: -moz-linear-gradient(to right, #444241, #fff, #444241);
    background: -webkit-linear-gradient(to right, #444241, #fff, #444241);
    background: linear-gradient(to right, #444241, #fff, #444241);
    border-radius: 2px;
    padding: 1px;
    max-width: 80%;
    margin: 0 16px 16px;
}

.text-mess {
    padding-left: 10%;
    padding-right: 10%;
}

.but-mess div {
    background: #1b1b1b;
    cursor: pointer;
    padding: .2rem 1rem;
    border-radius: 2px;
}

.but-group-mess {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1rem;
}

.mess-low-balance.hidden {
    display: none;
}