.rules-container {
    /*font-family: 'Roboto-Light', sans-serif;*/
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    font-size: 4vw;
    position: fixed;
    display: none;
    user-select: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
}

/************************************/

div.rules-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(40, 187, 184, 0.44);
}

div.rules-container::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 125, 26, 0);
}

div.rules-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ffe433;
    background-color: #35c15d;
}


/******************************************/

.rules-container .hidden {
    display: none;
}

.rules-container.show {
    overflow-y: scroll;
    display: table-caption;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.desktop .rules-container {
    position: relative;
    overflow-y: auto;
}

.button-close {
    position: sticky;
    position:-webkit-sticky;
    bottom: 1rem;
    align-self: flex-end;
    top: 1em;
    left: 1em;
    width: 3em;
    height: 3em;
    background: url('../assets/button/button-close.png') center no-repeat;
    background-size: contain;
    z-index: 1100;
    opacity: 0.6;
}

.button-close:hover {
    cursor: pointer;
}

.phone .rules-wrapper,
.phoneLong .rules-wrapper,
.phoneTop .rules-wrapper
{
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.rules-arrows {
    flex: 0 1 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    overflow: auto;
}

.rules-title {
    margin-top: 1.5em;
    border-bottom: 3px solid transparent;
    border-image: url('../assets/back/fl-rules-border.png') 60 stretch;
    font-size: 1.8em;
    flex: 0 0 2em;
    color: #ffb020;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-body {
    flex: 1 0 auto;
    padding: 1em;
    margin-bottom: 3em;
    background-size: 100% 100%;
    /*display: flex;*/
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

/**************************/

.controls-table {
    display: grid;
    grid-template-columns: 15em 15em;
    grid-auto-rows: 7em;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: translate(-3.5em, 0);
}


.control-text {
    text-align: center;
}

.rules-text {
    padding: 0 4em;
    margin-top: 0.5rem;
    text-align: center;
}

.rules-text p {
    padding: 0 0;
    margin: 0.15em 0;
}

/***************************/

.controls-table-more {
    display: grid;
    grid-template-columns: 4em 10em;
    grid-auto-rows: 4em 6em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: left;
    transform: translate(1em, 0);  
}

.controls-table-more-without-text{
    display: grid;
    grid-template-columns: 15em 10em;
    grid-auto-rows: 4em 6em;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: left;
    transform: translate(1em, 0);
}

.control-title {
    margin-bottom: 1em;
    grid-column: 1 / 3;
}

.table-win-more {
    display: grid;
    grid-template-columns: 1.5em 6em;
    grid-auto-rows: 1.2em;
    margin-left: 0.1em;
    text-align: left;
}


/***************************/


.rules-controls-img {
    width: 4em;
    height: 4em;
    border-radius: 100px;
    border: 2px solid #ffffff;
    justify-self: end;
}

.rules-symbols-img {
    width: 7em;
    height: auto;
    justify-self: end;
    transform: translateX(2.5em);
}

.rules-symbols-img-without-text {
    width: 11em;
    height: auto;
    justify-self: end;
    transform: translateX(2.5em);
}

.rules-symbols-img.img-scatter {
    transform: translate(1em, -1em);
}

.table-win {
    display: grid;
    grid-template-columns: 3em 3em;
    grid-auto-rows: 1.2em;
    justify-content: center;
}

.table-win div {
    text-align: right;
}

.table-win div.yellow {
    text-align: right;
    margin-right: 0.1em;
}

.yellow {
    color: #ffb020;
}


/***********************/

.table-lines {
    display: grid;
    grid-template-columns: 0.7em 0.7em 0.7em 0.7em 0.7em;
    grid-auto-rows: 0.7em;
    grid-gap: 0.1em;
    justify-content: center;
}

.table-lines .back-yellow {
    background: #ffb020;
}

.table-lines .back-white {
    background: #ffffff;
}

.rules-table-ul {
    margin-right: .2rem;
    min-width: 1.5rem;
    text-align: right;
}

/********************************/

.version {
    text-align: center;
    font-size: 0.7em;
    color: rgb(173, 173, 173);
    margin: 2em;
    user-select: all;
}


/** settings ************************/

.lang-wrapper {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.volume-wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.settings-button {
    width: 4em;
    height: 4em;
    border: cornsilk solid 2px;
    background-size: 100% 100%;
    border-radius: 4em;
    margin: 1.5em;
    cursor: pointer;
}
.butt-lang-en {
    background-image: url('../assets/button/lang-en.png');
}
.butt-lang-ru {
    background-image: url('../assets/button/lang-ru.png');
}

.item-volume {
    margin-bottom: 20px;
}

.range {
    width: 300px;
} 

/***************************/

@media (min-width: 530px) {
    .controls-table {
        grid-template-columns: 6em 9em 6em 9em;
        transform: translate(-1.5em, 0);
    }

    .rules-container {
        font-size: 13.5px;
    }
}


@media (min-width: 800px) {
    .controls-table {
        grid-template-columns: 6em 9em 6em 9em 6em 9em;
        transform: translate(0, 0);
    }

    .rules-container {
        font-size: 15.5px;
    }

    .controls-table-more {
        grid-template-columns: 6em 9em;
        grid-template-areas: 
            "title-scatter title-scatter" 
            "img-scatter  table-scatter";
        transform: translate(-1.5em, 0);
    }

    .controls-table-more-without-text {
        grid-template-columns: 15em 9em;
        grid-template-areas:
                "title-scatter title-scatter"
                "img-scatter  table-scatter";
        transform: translate(-1.5em, 0);
    }

    .title-scatter {
        grid-area: title-scatter;
    }

    .img-scatter {
        grid-area: img-scatter;
    }

    .table-scatter {
        grid-area: table-scatter;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .title-wild {
        grid-area: title-wild;
    }

    .img-wild {
        grid-area: img-wild;
    }

    .table-wild {
        grid-area: table-wild;
    }
    /* /////////////////// */
}

@media (min-width: 1000px) {
    .rules-container {
        font-size: 18px;
    }

    .controls-table-more {
        grid-template-columns: 6em 12em;
    }
}

@media (min-width: 1200px) {
    .rules-wrapper {
        min-width: 5vw;
        min-height: 5vh;
        /*box-shadow: 0 0 30px black;*/
        border-radius: 10px;
    }
}

.paytable_symbols{
    width: 80vw;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.paytable_symbol-values {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.paytable_symbol-value {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    min-width: 120px;
}

.paytable_symbol_img {
    -webkit-align-self: center;
    align-self: center;
    justify-content: center;
    display: flex;
}

.paytable-img-7 {
    height: 50%;
    width: 7em;
}

.paytable-img-10 {
    height: 100%;
    max-width: 90vw;
    width: 23rem;
}

.paytable-img-12 {
    height: 40%;
    width: 45rem;
    max-width: 90vw;
}
.phone .paytable-img-12,
.phoneLong .paytable-img-12 {
    max-width: 60vw;
}

.paytable_value-container {
    -webkit-align-self: center;
    align-self: center;
    text-align: center;
    min-width: 50px;
    padding: 0 4em;
    margin-top: 0.5rem;
}

.paytable_symbol-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 10px 30px 10px 30px;
}

.paytable-info-row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-size: 100% 100%;
    padding: 1em;
    margin-bottom: 3em;
}

.paytable-info-row:first-child {
    align-self: center;
}

.paytable_value-container p {
    padding: 0 0;
    margin: 0.15em 0;
}

.pages_regular-text{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    word-break: break-word;
    padding: 0 4em;
}

.pages_regular-text p {
    padding: 0 0;
    margin: 0.15em 0;
}

.paytable_menu-text{
    text-align: center;
    font-size: 15.5px;
    font-weight: normal;
    margin-top: 1em;
}

.paytable_lines-container {
    text-align: center;
}

.paytable_line-container {
    display: inline-flex;
    align-items: center;
    margin: .5rem;
}

.paytable_scores-container {
    color: #fff;
    -webkit-align-self: center;
    align-self: center;
    text-align: left;
}

.paytable_score_line {
    display: inline-flex;
    align-items: center;
}

.paytable_score_count {
    font-size: 1.2rem;
    line-height: 1.4rem;
    min-width: 1.3rem;
    margin-right: .6rem;
    display: flex;
    justify-content: flex-end;
}

.paytable_score_value {
    font-size: 1.2rem;
    line-height: 1.4rem;
    min-width: 1rem;
}

.rules-symb {
    display: flex;
    align-items: center;
    justify-content: center;
}
