.iphone-resizer {
    position: fixed;
    background: #00000099;
    color: #ffffff;
    background-size: auto 25vh;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 111111111;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 155vh;
    z-index: -1111;
}

